# Created by .ignore support plugin (hsz.mobi)

### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.xml
out
gen
venv/Include/
venv/Lib/site-packages/_distutils_hack/
venv/Lib/site-packages/distutils-precedence.pth
venv/Lib/site-packages/pip-21.1.2.dist-info/
venv/Lib/site-packages/pip/
venv/Lib/site-packages/pkg_resources/
venv/Lib/site-packages/setuptools-57.0.0.dist-info/
venv/Lib/site-packages/setuptools/__init__.py
venv/Lib/site-packages/setuptools/__pycache__/
venv/Lib/site-packages/setuptools/_deprecation_warning.py
venv/Lib/site-packages/setuptools/_distutils/
venv/Lib/site-packages/setuptools/_imp.py
venv/Lib/site-packages/setuptools/_vendor/
venv/Lib/site-packages/setuptools/archive_util.py
venv/Lib/site-packages/setuptools/build_meta.py
venv/Lib/site-packages/setuptools/cli-32.exe
venv/Lib/site-packages/setuptools/cli-64.exe
venv/Lib/site-packages/setuptools/cli.exe
venv/Lib/site-packages/setuptools/command/__init__.py
venv/Lib/site-packages/setuptools/command/__pycache__/
venv/Lib/site-packages/setuptools/command/alias.py
venv/Lib/site-packages/setuptools/command/bdist_egg.py
venv/Lib/site-packages/setuptools/command/bdist_rpm.py
venv/Lib/site-packages/setuptools/command/build_clib.py
venv/Lib/site-packages/setuptools/command/build_ext.py
venv/Lib/site-packages/setuptools/command/build_py.py
venv/Lib/site-packages/setuptools/command/develop.py
venv/Lib/site-packages/setuptools/command/dist_info.py
venv/Lib/site-packages/setuptools/command/easy_install.py
venv/Lib/site-packages/setuptools/command/egg_info.py
venv/Lib/site-packages/setuptools/command/install.py
venv/Lib/site-packages/setuptools/command/install_egg_info.py
venv/Lib/site-packages/setuptools/command/install_lib.py
venv/Lib/site-packages/setuptools/command/install_scripts.py
venv/Lib/site-packages/setuptools/command/py36compat.py
venv/Lib/site-packages/setuptools/command/register.py
venv/Lib/site-packages/setuptools/command/rotate.py
venv/Lib/site-packages/setuptools/command/saveopts.py
venv/Lib/site-packages/setuptools/command/sdist.py
venv/Lib/site-packages/setuptools/command/setopt.py
venv/Lib/site-packages/setuptools/command/test.py
venv/Lib/site-packages/setuptools/command/upload.py
venv/Lib/site-packages/setuptools/command/upload_docs.py
venv/Lib/site-packages/setuptools/config.py
venv/Lib/site-packages/setuptools/dep_util.py
venv/Lib/site-packages/setuptools/depends.py
venv/Lib/site-packages/setuptools/dist.py
venv/Lib/site-packages/setuptools/errors.py
venv/Lib/site-packages/setuptools/extension.py
venv/Lib/site-packages/setuptools/extern/
venv/Lib/site-packages/setuptools/glob.py
venv/Lib/site-packages/setuptools/gui-32.exe
venv/Lib/site-packages/setuptools/gui-64.exe
venv/Lib/site-packages/setuptools/gui.exe
venv/Lib/site-packages/setuptools/installer.py
venv/Lib/site-packages/setuptools/launch.py
venv/Lib/site-packages/setuptools/lib2to3_ex.py
venv/Lib/site-packages/setuptools/monkey.py
venv/Lib/site-packages/setuptools/msvc.py
venv/Lib/site-packages/setuptools/namespaces.py
venv/Lib/site-packages/setuptools/package_index.py
venv/Lib/site-packages/setuptools/py34compat.py
venv/Lib/site-packages/setuptools/sandbox.py
venv/Lib/site-packages/setuptools/script (dev).tmpl
venv/Lib/site-packages/setuptools/script.tmpl
venv/Lib/site-packages/setuptools/ssl_support.py
venv/Lib/site-packages/setuptools/unicode_utils.py
venv/Lib/site-packages/setuptools/version.py
venv/Lib/site-packages/setuptools/wheel.py
venv/Lib/site-packages/setuptools/windows_support.py
venv/Scripts/
venv/pyvenv.cfg
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
!/demo05_custom_converter.py
